extends layout

block content
  h1 ForPlay
  p.lead Everyone loves a little fun.
  hr
  .row#react-app
  .row
    .col-sm-6(style="height:100%;")
        #map(style="width:100%;min-height:600px;")
    .col-sm-6
        #controls
          form.newPoint(method="POST" action="/point" onsubmit="")
            input(type='hidden', name='_csrf', value=_csrf)
            label(for="lat" style="margin-right:50px;") Latitude:
            input#newLat(name="lat" type="number" step="any" required)
            label(for="lng" ) Longitude:
            input#newLng(name="lng" type="number" step="any" required)
            //- label(for="phoneNumber") Phone Number:
            //- input#phoneNumber(type="text" )
            label(for="condition") Condition:
            select(name="conditionType")
              option(value="windSpeed") WindSpeed (km/h)
              option(value="temperature") Temperature (C)
              option(value="apparentTemperature") Apparent Temperature (C)
              option(value="pressure") Pressure (mPa)
              option(value="precipProbability") Probability Precipitation (%)
              option(value="precipIntensity") Precipitation Intensity (mm/hr)
              option(value="cloudCover") Cloud Cover (%)
              option(value="humidity") Humidity (%)
              option(value="ozone") Ozone(DU)
              
            select(name="conditionOperator")
              option(value="greater") Greater Than
              option(value="lesser") Lesser Than
              option(value="equal") Equal To
            input(name="conditionValue" type="number" step="any" required) 
            
            label(for="placename") What's this place's name?
            input(name="placename" type="text" required)
            label(for="Phone Message") Phone Message (Optional)
            input(type="text" name="message")
            //- label(for="frequency") Update me every:
            //- select(name="frequency")
            //-   option(value="")
              
            button(type="submit") Submit
        #points
          ul
            each point in points
              li.watchPoint(id=point._id)= point.placename 
                span= "Message: " + point.message
                button.btn.btn-danger.btn-remove-point(id=point._id type="button" ) X
              //- span= point._id
  
  script(src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript")
  script.
    var map;
    var newPoint;
    var newLat,newLng;
    var _csrf = '#{_csrf}';
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 49.703364, lng: -123.153993},
        zoom: 8
      });
      map.addListener('click',function(e){
        if(newPoint){
          newPoint.setMap(null)
        }
        newPoint = new google.maps.Marker({
          position:e.latLng,
          map:map
        })

        newLat = e.latLng.lat();
        newLng = e.latLng.lng();
        document.getElementById('newLat').value = newLat;
        document.getElementById('newLng').value = newLng;
      })
    }
    $(document).ready(function(){
      $("button.btn-remove-point").click(function(event){
        var id = event.target.id;
        $.ajax(
          {
            method:"DELETE",
            url:'/point/'+id,
            data:{_csrf:_csrf},
            success:function(){
              $('#'+id).remove();
            }
          }
        )
      })
      //- $("li.watchPoint").click(function(event){
      //- var id = event.target.id;
      //- if(newPoint) {
      //-   newPoint.setMap(null);
      //- }
      //- newPoint = new google.maps.Marker({
      //-   position:
      //- })
      //- })
    })


  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH6DTDtgkpiGUnlRQb_moDKizuo2MNFzI&callback=initMap")
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
